<h1>List of Categories</h1>

<!-- <pre>{{categories | json }}</pre> -->

<table *ngIf="categories.length > 0">
    <thead>
        <th>Id</th>
        <th>Imagen</th>
        <th>Categoria</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.id}}</td>
            <td><img class="imgCategory" [src]="'' + category.image" alt=""></td>
            <td>{{category.name}}</td>
            <td>
               <a [routerLink]="['/categories', category.id, 'items']">
                <button id="NavToItems">Articles</button>
               </a> 
                <button id="bntEditCategories">Edit</button>
                <button id="deleteCategory">Delete</button>
            </td>
            <td>{{category.description}}</td>
        </tr>
    </tbody>
</table>